<ion-header>
  <ion-navbar>
    <ion-title>
      Branches
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-right (click)="selectBranch()">
  <ion-icon name="md-add"></ion-icon>
</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<!-- <ion-row *ngIf="!isMainLoading">
    <ion-col center text-center>
      <button ion-button icon-right (click)="selectBranch()">Select Branch</button>
    </ion-col>
  </ion-row> -->
    <ion-row *ngIf="isMainLoading">
    <ion-col center text-center>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>
<div *ngFor="let branch of branchesList">
<ion-card>
    <ion-row *ngIf="branch.isLoading">
      <ion-col center text-center>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    
    <ion-card-header *ngIf="!branch.isLoading">
      {{branch.bname}}
    </ion-card-header>
    <ion-card-content *ngIf="!branch.isLoading">
      
      <!-- <p>{{college.address}}</p> -->
      <p style="font-size:12px;">Last update: {{branch.updatedAt | date:'medium'}}</p>
      <p style="font-size:12px;">{{getTimeAgo(branch.updatedAt)}}</p>
    </ion-card-content>
</ion-card>
    

      <ion-item-group *ngFor="let college of branch.colleges">
        <!-- <div class="coll-divider"></div> -->
     <ion-item-divider color="light"></ion-item-divider> 
    <!-- <ion-item-divider color="light">
       {{getCName(college[0])}} 
    </ion-item-divider> -->
     <ion-row align-items-center>
      <ion-col>
    <p style="font-size:12px;padding-left:12px;">{{getCName(college[0])}} - {{getCCode(college[0])}}</p>
      </ion-col>
    </ion-row>
    <!-- <p>{{getCCode(college[0])}}</p> -->
    <ion-item>
      <ion-grid>
   <ion-row>
    <ion-col class="com-label" [ngClass]="{'com-label-full': college[1] == 0 }">OC: {{college[1]}}</ion-col>
    <ion-col class="com-label" [ngClass]="{'com-label-full': college[2] == 0 }">BCM: {{college[2]}}</ion-col>
    <ion-col class="com-label" [ngClass]="{'com-label-full': college[3] == 0 }">BC: {{college[3]}}</ion-col>
    <ion-col class="com-label" [ngClass]="{'com-label-full': college[4] == 0 }">MBC: {{college[4]}}</ion-col>
  </ion-row>
  <ion-row style="border-top:1px solid #e5e5e5">	
    <ion-col class="com-label" [ngClass]="{'com-label-full': college[5] == 0 }">SCA: {{college[5]}}</ion-col>
    <ion-col class="com-label" [ngClass]="{'com-label-full': college[6] == 0 }">SC: {{college[6]}}</ion-col>
    <ion-col class="com-label" [ngClass]="{'com-label-full': college[7] == 0 }">ST: {{college[7]}}</ion-col>
  </ion-row> 
</ion-grid>
    </ion-item>
  </ion-item-group>



  </div>  
</ion-content>
