page-about {

}
.com-label {
  // color: lighten(#000, 20%);
  color: green;
  font-size: 14px;
}

.com-label-full {
  color: lighten(#ff0000, 25%);
  // color: red;
  font-size: 12px;
}

// .coll-divider {
//   border-top: 1px solid lighten(#000000, 80%);
//   padding-top:4px;
//   padding-bottom:10px;
// }
