page-home {

}

.com-label {
  // color: lighten(#000, 20%);
  color: green;
  font-size: 14px;
}

.com-label-full {
  color: lighten(#ff0000, 25%);
  // color: red;
  font-size: 12px;
}

// .com-label-aval {
//   font-size: 14px;
// }